<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/" method="post">
        <input type="text" name="first_name" placeholder="first name" required="required" />
        <input type="text" name="last_name" placeholder="last name" required="required" />
        <input type="text" name="address" placeholder="address" required="required" />
        <input type="number" name="avg_grade" placeholder="avg grade" required="required" />
        <button type="submit">+</button>
    </form>
    <br />
    <hr /><br />
    <table border="1" width="80%" align="center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Avg. Grade</th>
        </tr>
            {{#each students}}
        <form action="/" method="POST">
            <tr id="id_{{this.id}}">
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.address}}</td>
                <td>{{this.avg_grade}}</td>
                <td align="center">
                    <button type="submit" name="deletee" value="{{this.id}}">Del</button>
                </td>
        </form>
        </tr>
        {{/each}}
    </table>
    <br>
    <hr><br>
    <form action="/" method="POST">
        <p>Select which student to edit</p>
        <select class="studentselect" name="studentselect">
            <optgroup label="Students">
                {{#each students}}
                <option name="studentselect" value="{{this.id}}">{{this.first_name}} {{this.last_name}}
                </option>
                {{/each}}
            </optgroup>
        </select>
        <p>Select which column to edit</p>
        <select class="column" name="column">
            <optgroup label="Column">
                <option value="first_name">First Name
                </option>
                <option value="last_name">Last Name
                </option>
                <option value="address">Address
                </option>
                <option value="avg_grade">Avg. Grade
                </option>
            </optgroup>
        </select>
        
        <input type="text" name="ediit" placeholder="insert the text to edit" required="required" />
        <button type="submit">Edit</button>
    </form>
    <form action="/" method="POST">

        <br><br><br>
        <p>Select which student to delete</p>
        <select class="deletee" name="deletee">
            <optgroup label="Students">
                {{#each students}}
                <option name="deletee" value="{{this.id}}">{{this.first_name}} {{this.last_name}}
                </option>
                {{/each}}
            </optgroup>
        </select>
        <button type="submit">Delete</button>
    </form>
</body>

</html>